<h1><code ng:non-bindable="">DeleteDialogController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.limalinks.generic-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-limalinks-generic-ui-controller-page app-limalinks-generic-ui-controller-deletedialogcontroller-page"><p>This is a controller for the the deletion confirmation dialog</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_hide">hide()</h3>
<div class=""><div class="hide-page"><p>This method confirms deletion of the selected items and hides the dialog</p>
</div></div>
</li>
<li><h3 id="methods_hide">hide()</h3>
<div class=""><div class="hide-page"><p>This method cancels deletion</p>
</div></div>
</li>
</ul>
</div>
</div>
