<h1><code ng:non-bindable="">MarketsController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.limalinks.generic-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-limalinks-generic-ui-controller-page app-limalinks-generic-ui-controller-marketscontroller-page"><p>This is a controller for the Markets View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_addmarket">addMarket()</h3>
<div class="addmarket"><div class="addmarket-page"><p>Boardcasts addMarket event</p>
</div></div>
</li>
<li><h3 id="methods_addmarket">addMarket()</h3>
<div class="addmarket"><div class="addmarket-page"><p>Binds addMarket event to action</p>
</div></div>
</li>
<li><h3 id="methods_deletemarket">deleteMarket()</h3>
<div class="deletemarket"><div class="deletemarket-page"><p>Broadcasts deleteMarket event</p>
</div></div>
</li>
<li><h3 id="methods_deletemarket">deleteMarket()</h3>
<div class="deletemarket"><div class="deletemarket-page"><p>Binds deleteMarket event to action</p>
</div></div>
</li>
<li><h3 id="methods_editmarket">editMarket()</h3>
<div class="editmarket"><div class="editmarket-page"><p>Boardcasts editMarket event</p>
</div></div>
</li>
<li><h3 id="methods_editmarket">editMarket()</h3>
<div class="editmarket"><div class="editmarket-page"><p>Binds editMarket event to action</p>
</div></div>
</li>
<li><h3 id="methods_getmarkets">getMarkets()</h3>
<div class="getmarkets"><div class="getmarkets-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_getmarkets">getMarkets()</h3>
<div class="getmarkets"><div class="getmarkets-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
