<h1><code ng:non-bindable="">TownsController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.limalinks.generic-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-limalinks-generic-ui-controller-page app-limalinks-generic-ui-controller-townscontroller-page"><p>This is a controller for the Towns View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_addtown">addTown()</h3>
<div class="addtown"><div class="addtown-page"><p>Boardcasts addTown event</p>
</div></div>
</li>
<li><h3 id="methods_addtown">addTown()</h3>
<div class="addtown"><div class="addtown-page"><p>Binds addTown event to action</p>
</div></div>
</li>
<li><h3 id="methods_deletetown">deleteTown()</h3>
<div class="deletetown"><div class="deletetown-page"><p>Broadcasts deleteTown event</p>
</div></div>
</li>
<li><h3 id="methods_deletetown">deleteTown()</h3>
<div class="deletetown"><div class="deletetown-page"><p>Binds deleteTown event to action</p>
</div></div>
</li>
<li><h3 id="methods_edittown">editTown()</h3>
<div class="edittown"><div class="edittown-page"><p>Boardcasts editTown event</p>
</div></div>
</li>
<li><h3 id="methods_edittown">editTown()</h3>
<div class="edittown"><div class="edittown-page"><p>Binds editTown event to action</p>
</div></div>
</li>
<li><h3 id="methods_gettowns">getTowns()</h3>
<div class="gettowns"><div class="gettowns-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
