<h1><code ng:non-bindable="">AddObjectDialogController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.limalinks.generic-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-limalinks-generic-ui-controller-page app-limalinks-generic-ui-controller-addobjectdialogcontroller-page"><p>This is a controller for the dialog for adding Objects</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This is the initialisation method for the controller and it executes all functions that are needed when bootstrapping the view</p>
</div></div>
</li>
<li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This is the initialisation method for the controller and it executes all functions that are needed when bootstrapping the view</p>
</div></div>
</li>
<li><h3 id="methods_cancel">cancel()</h3>
<div class="cancel"><div class="cancel-page"><p>This method dismisses the modal and does not return the scope object to the calling controller</p>
</div></div>
</li>
<li><h3 id="methods_cancel">cancel()</h3>
<div class="cancel"><div class="cancel-page"><p>This method dismisses the modal and does not return the scope object to the calling controller</p>
</div></div>
</li>
<li><h3 id="methods_createdetailfields">createDetailFields()</h3>
<div class="createdetailfields"><div class="createdetailfields-page"><p>This method traverses the model information received from the API and generates the information to display on the dialog in view mode</p>
</div></div>
</li>
<li><h3 id="methods_createdetailfields">createDetailFields()</h3>
<div class="createdetailfields"><div class="createdetailfields-page"><p>This method traverses the model information received from the API and generates the information to display on the dialog in view mode</p>
</div></div>
</li>
<li><h3 id="methods_createfields">createFields()</h3>
<div class="createfields"><div class="createfields-page"><p>This method traverses the model information received from the API and generates the UI controls for the dialog in add or edit mode</p>
</div></div>
</li>
<li><h3 id="methods_createfields">createFields()</h3>
<div class="createfields"><div class="createfields-page"><p>This method traverses the model information received from the API and generates the UI controls for the dialog in add or edit mode</p>
</div></div>
</li>
<li><h3 id="methods_generatechildrensets">generateChildrenSets()</h3>
<div class="generatechildrensets"><div class="generatechildrensets-page"><p>This method goes through the set fields and matches them with the references arrays to display user friendly lists to the user</p>
</div></div>
</li>
<li><h3 id="methods_generatechildrensets">generateChildrenSets()</h3>
<div class="generatechildrensets"><div class="generatechildrensets-page"><p>This method goes through the set fields and matches them with the references arrays to display user friendly lists to the user</p>
</div></div>
</li>
<li><h3 id="methods_getreferences">getReferences()</h3>
<div class="getreferences"><div class="getreferences-page"><p>This method initialises the references for the view from other entities e.g. provinces, districts etc</p>
</div></div>
</li>
<li><h3 id="methods_hide">hide()</h3>
<div class=""><div class="hide-page"><p>This method dismisses the modal and returns the scope object to the calling controller</p>
</div></div>
</li>
<li><h3 id="methods_hide">hide()</h3>
<div class=""><div class="hide-page"><p>This method dismisses the modal and returns the scope object to the calling controller</p>
</div></div>
</li>
<li><h3 id="methods_initaddoreditmode">initAddOrEditMode()</h3>
<div class="initaddoreditmode"><div class="initaddoreditmode-page"><p>This method sets the mode to add or edit when the view initialises. It also sets the scope object</p>
</div></div>
</li>
<li><h3 id="methods_initaddoreditmode">initAddOrEditMode()</h3>
<div class="initaddoreditmode"><div class="initaddoreditmode-page"><p>This method sets the mode to add or edit when the view initialises. It also sets the scope object</p>
</div></div>
</li>
<li><h3 id="methods_setreference">setReference()</h3>
<div class="setreference"><div class="setreference-page"><p>This method sets the reference on the model because ng-model does not provide the ability to be dynamically updated</p>
</div></div>
</li>
<li><h3 id="methods_setreference">setReference()</h3>
<div class="setreference"><div class="setreference-page"><p>This method sets the reference on the model because ng-model does not provide the ability to be dynamically updated</p>
</div></div>
</li>
<li><h3 id="methods_togglemode">toggleMode()</h3>
<div class="togglemode"><div class="togglemode-page"><p>This method switches the views mode between add and edit mode</p>
</div></div>
</li>
<li><h3 id="methods_togglemode">toggleMode()</h3>
<div class="togglemode"><div class="togglemode-page"><p>This method switches the views mode between add and edit mode</p>
</div></div>
</li>
</ul>
</div>
</div>
