<h1><code ng:non-bindable="">CropsController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.limalinks.generic-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-limalinks-generic-ui-controller-page app-limalinks-generic-ui-controller-cropscontroller-page"><p>This is a controller for the Crops View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_addcrop">addCrop()</h3>
<div class="addcrop"><div class="addcrop-page"><p>Boardcasts addCrop event</p>
</div></div>
</li>
<li><h3 id="methods_addcrop">addCrop()</h3>
<div class="addcrop"><div class="addcrop-page"><p>Binds addCrop event to action</p>
</div></div>
</li>
<li><h3 id="methods_deletecrop">deleteCrop()</h3>
<div class="deletecrop"><div class="deletecrop-page"><p>Broadcasts deleteCrop event</p>
</div></div>
</li>
<li><h3 id="methods_deletecrop">deleteCrop()</h3>
<div class="deletecrop"><div class="deletecrop-page"><p>Binds deleteCrop event to action</p>
</div></div>
</li>
<li><h3 id="methods_editcrop">editCrop()</h3>
<div class="editcrop"><div class="editcrop-page"><p>Boardcasts editCrop event</p>
</div></div>
</li>
<li><h3 id="methods_editcrop">editCrop()</h3>
<div class="editcrop"><div class="editcrop-page"><p>Binds editCrop event to action</p>
</div></div>
</li>
<li><h3 id="methods_getcrops">getCrops()</h3>
<div class="getcrops"><div class="getcrops-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
