<h1><code ng:non-bindable="">dynamicModel</code>
<div><span class="hint">directive in module <code ng:non-bindable="">app.limalinks</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-limalinks-directive-page app-limalinks-directive-dynamicmodel-page"><p>This directive creates a dynamic ngModel</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY dynamic-model&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
