<h1><code ng:non-bindable="">UIService</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.limalinks.generic-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-limalinks-generic-ui-service-page app-limalinks-generic-ui-service-uiservice-page"><p>This is a service that interacts with generic APIService in limalinks-api.service.js service to provide data to the UIController</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_delete">delete()</h3>
<div class="delete"><div class="delete-page"><p>This method deletes data using APIService</p>
</div></div>
</li>
<li><h3 id="methods_getendpoint">getEndPoint()</h3>
<div class="getendpoint"><div class="getendpoint-page"><p>This method sets specific endpoint for this entity</p>
</div></div>
</li>
<li><h3 id="methods_query">query()</h3>
<div class="query"><div class="query-page"><p>This method queries data using APIService</p>
</div></div>
</li>
<li><h3 id="methods_save">save()</h3>
<div class="save"><div class="save-page"><p>This method saves new data using APIService</p>
</div></div>
</li>
<li><h3 id="methods_update">update()</h3>
<div class="update"><div class="update-page"><p>This method updates existing data using APIService</p>
</div></div>
</li>
</ul>
</div>
</div>
