<h1><code ng:non-bindable="">UIController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.limalinks.generic-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-limalinks-generic-ui-controller-page app-limalinks-generic-ui-controller-uicontroller-page"><p>This is a controller for the Objects View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_addobject">addObject()</h3>
<div class="addobject"><div class="addobject-page"><p>Boardcasts addObject event</p>
</div></div>
</li>
<li><h3 id="methods_addobject">addObject()</h3>
<div class="addobject"><div class="addobject-page"><p>Binds addObject event to an action to show Add Object Dialog</p>
</div></div>
</li>
<li><h3 id="methods_changeparams">changeParams()</h3>
<div class="changeparams"><div class="changeparams-page"><p>Binds changeParams event to action to show Change Params Dialog for Embedded Charts</p>
</div></div>
</li>
<li><h3 id="methods_changeparams">changeParams()</h3>
<div class="changeparams"><div class="changeparams-page"><p>Boardcasts changeParams event</p>
</div></div>
</li>
<li><h3 id="methods_createcolumns">createColumns()</h3>
<div class="createcolumns"><div class="createcolumns-page"><p>This methods creates table columns of master view (table)</p>
</div></div>
</li>
<li><h3 id="methods_deleteobject">deleteObject()</h3>
<div class="deleteobject"><div class="deleteobject-page"><p>Binds deleteObject event to action to show Delete Object Confirmation Dialog</p>
</div></div>
</li>
<li><h3 id="methods_deleteobject">deleteObject()</h3>
<div class="deleteobject"><div class="deleteobject-page"><p>Broadcasts deleteObject event</p>
</div></div>
</li>
<li><h3 id="methods_editobject">editObject()</h3>
<div class="editobject"><div class="editobject-page"><p>Boardcasts editObject event</p>
</div></div>
</li>
<li><h3 id="methods_editobject">editObject()</h3>
<div class="editobject"><div class="editobject-page"><p>Binds editObject event to action to show Edit Object Dialog</p>
</div></div>
</li>
<li><h3 id="methods_exportall">exportAll()</h3>
<div class="exportall"><div class="exportall-page"><p>Exports all data without filters to Excel using alasql</p>
</div></div>
</li>
<li><h3 id="methods_exportdata">exportData()</h3>
<div class="exportdata"><div class="exportdata-page"><p>Exports selected data to Excel using alasql</p>
</div></div>
</li>
<li><h3 id="methods_filterlist">filterList()</h3>
<div class="filterlist"><div class="filterlist-page"><p>Binds filterList event to action to show Filter Dialog</p>
</div></div>
</li>
<li><h3 id="methods_filterlist">filterList()</h3>
<div class="filterlist"><div class="filterlist-page"><p>Boardcasts filterList event</p>
</div></div>
</li>
<li><h3 id="methods_getobjecttype">getObjectType()</h3>
<div class="getobjecttype"><div class="getobjecttype-page"><p>This method detects the type entity being accessed from the application&#39;s current state. The controller can then provide specific functionality for the current entity</p>
</div></div>
</li>
<li><h3 id="methods_getobjects">getObjects()</h3>
<div class="getobjects"><div class="getobjects-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_initialisechart">initialiseChart()</h3>
<div class="initialisechart"><div class="initialisechart-page"><p>Sets initial data of embedded chart</p>
</div></div>
</li>
<li><h3 id="methods_initialisechart">initialiseChart()</h3>
<div class="initialisechart"><div class="initialisechart-page"><p>Sets initial data of embedded chart</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
<li><h3 id="methods_showloader">showLoader()</h3>
<div class="showloader"><div class="showloader-page"><p>Shows the loader when page is first loaded</p>
</div></div>
</li>
<li><h3 id="methods_showloader">showLoader()</h3>
<div class="showloader"><div class="showloader-page"><p>Hides the loader after data is completely loaded</p>
</div></div>
</li>
<li><h3 id="methods_viewobject">viewObject()</h3>
<div class="viewobject"><div class="viewobject-page"><p>Boardcasts viewObject event</p>
</div></div>
</li>
<li><h3 id="methods_viewobject">viewObject()</h3>
<div class="viewobject"><div class="viewobject-page"><p>Binds viewObject event to action to show Object details</p>
</div></div>
</li>
</ul>
</div>
</div>
