<h1><code ng:non-bindable="">ChipController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.limalinks.generic-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-limalinks-generic-ui-controller-page app-limalinks-generic-ui-controller-chipcontroller-page"><p>This is a generic controller for chips controls</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_debouncesearch">debounceSearch()</h3>
<div class="debouncesearch"><div class="debouncesearch-page"><p>Debounce if querying faster than 300ms</p>
</div></div>
</li>
<li><h3 id="methods_debouncesearch">debounceSearch()</h3>
<div class="debouncesearch"><div class="debouncesearch-page"><p>Create filter function for a query string</p>
</div></div>
</li>
<li><h3 id="methods_delayedquerysearch">delayedQuerySearch()</h3>
<div class="delayedquerysearch"><div class="delayedquerysearch-page"><p>Async search for objects. Also debounce the queries; since the md-object-chips does not support this</p>
</div></div>
</li>
<li><h3 id="methods_querysearch">querySearch()</h3>
<div class="querysearch"><div class="querysearch-page"><p>This method searchs returned results from async search in delayedQuerySearch()</p>
</div></div>
</li>
</ul>
</div>
</div>
