<h1><code ng:non-bindable="">ChangeParamsController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.limalinks.generic-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-limalinks-generic-ui-controller-page app-limalinks-generic-ui-controller-changeparamscontroller-page"><p>This is a controller for controlling Parameter and Chart Data Generation</p>
</div></div>
</div>
