<h1><code ng:non-bindable="">UsersController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.limalinks.users</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-limalinks-users-controller-page app-limalinks-users-controller-userscontroller-page"><p>This is a controller for the Users View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_adduser">addUser()</h3>
<div class="adduser"><div class="adduser-page"><p>Boardcasts addUser event</p>
</div></div>
</li>
<li><h3 id="methods_adduser">addUser()</h3>
<div class="adduser"><div class="adduser-page"><p>Binds addUser event to action</p>
</div></div>
</li>
<li><h3 id="methods_adduser">addUser()</h3>
<div class="adduser"><div class="adduser-page"><p>Boardcasts addUser event</p>
</div></div>
</li>
<li><h3 id="methods_changeparams">changeParams()</h3>
<div class="changeparams"><div class="changeparams-page"><p>Binds changeParams event to action</p>
</div></div>
</li>
<li><h3 id="methods_deleteuser">deleteUser()</h3>
<div class="deleteuser"><div class="deleteuser-page"><p>Broadcasts deleteUser event</p>
</div></div>
</li>
<li><h3 id="methods_deleteuser">deleteUser()</h3>
<div class="deleteuser"><div class="deleteuser-page"><p>Binds deleteUser event to action</p>
</div></div>
</li>
<li><h3 id="methods_edituser">editUser()</h3>
<div class="edituser"><div class="edituser-page"><p>Binds editUser event to action</p>
</div></div>
</li>
<li><h3 id="methods_edituser">editUser()</h3>
<div class="edituser"><div class="edituser-page"><p>Boardcasts editUser event</p>
</div></div>
</li>
<li><h3 id="methods_generatechartparams">generateChartParams()</h3>
<div class="generatechartparams"><div class="generatechartparams-page"><p>generates chart data for the view</p>
</div></div>
</li>
<li><h3 id="methods_generatecharts">generateCharts()</h3>
<div class="generatecharts"><div class="generatecharts-page"><p>generates chart data for the view</p>
</div></div>
</li>
<li><h3 id="methods_getusers">getUsers()</h3>
<div class="getusers"><div class="getusers-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
