<div ng-include="'app/limalinks/analytics-ui/analytics-ui.tmpl.html'"></div>
<div layout="row" layout-xs="column" layout-margin layout-align="space-between stretch" style="z-index:5;">
    <div class="md-whiteframe-1dp" flex layout="column">


        <md-toolbar ng-hide="vm.selected.length || vm.filter.show">
          <div class="md-toolbar-tools">
              <h2 class="md-title">{{vm.objectType}}s</h2>
              <div flex></div>
              <md-button  ng-click="vm.exportAll()" class="md-icon-button">
                  <md-icon md-font-icon="zmdi zmdi-collection-text"></md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-click="vm.filterList($event)">
                  <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
                  <md-tooltip>Filter Data</md-tooltip>
              </md-button>
              <md-button class="md-icon-button" ng-click="vm.filter.show = true">
                  <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                  <md-tooltip>Search</md-tooltip>
              </md-button>
          </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selected.length">
          <div class="md-toolbar-tools" layout-align="start center">
              <div>{{vm.selected.length > 1 ? vm.selected.length : ""}} {{vm.selected.length > 1 ? vm.objectType + 's' : vm.selected[0].name}} Selected</div>
              <div flex></div>
              <md-button ng-if="vm.selected.length == 1 && vm.write_access" ng-click="vm.editObject($event)" class="md-icon-button">
                  <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
              </md-button>
              <!--md-button  ng-click="vm.exportData()" class="md-icon-button">
                  <md-icon md-font-icon="zmdi zmdi-file-text"></md-icon>
              </md-button-->

              <md-button ng-if="vm.write_access" class="md-icon-button toolbar-button animated" ng-click="vm.deleteObject($event)">
                  <md-icon md-font-icon="zmdi zmdi-delete"></md-icon>
              </md-button>
          </div>

        </md-toolbar>
        <md-toolbar ng-show="vm.filter.show && !vm.selected.length" class="md-table-toolbar md-default">
          <div class="md-toolbar-tools">
              <md-icon md-font-icon="zmdi zmdi-search" class="text-light"></md-icon>
              <form flex="" name="vm.filter.form">
                  <input type="text" ng-model="vm.query.search" ng-model-options="vm.filter.options" placeholder="search">
              </form>
              <md-button class="md-icon-button" ng-click="vm.removeFilter()">
                  <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
              </md-button>
          </div>
        </md-toolbar>

        <md-content style="padding:20px; height:98%">

            <div >




                      <md-table-container>
                        <table md-table class="md-primary md-data-table" md-row-select multiple ng-model="vm.selected" md-progress="vm.resource.then()">
                            <thead md-head md-order="vm.query.order" md-on-reorder="vm.getObjects">
                                <tr md-row>

                                    <th md-column md-order-by="{{column.name}}" ng-repeat = "column in vm.columns | orderBy: 'table_index'">
                                      {{column.label}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="object" md-select-id="id" md-auto-select ng-repeat="object in vm.objects" >



                                    <td ng-repeat="column in vm.columns | orderBy: 'table_index'" md-cell ng-click="vm.viewObject($event, object)">{{(column.type=='ref')?(object[column.name].display_name):((column.type=='array')?(object[column.name].length):(object[column.name]))}}</td>
                                </tr>
                            </tbody>
                        </table>
                      </md-table-container>

                      <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.total_count}}" md-on-paginate="vm.getObjects"></md-table-pagination>
              </div>






        </md-content>

    </div>

</div>

<md-button ng-click="vm.addObject($event)" class="md-fab md-accent md-fab-bottom-right" ng-if="vm.write_access">
    <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
    <md-tooltip>Add {{vm.objectType}}</md-tooltip>
</md-button>
