<md-dialog aria-label="Mango (Fruit)" flex="40" flex-xs="100">
  <div ng-if="!vm.editMode" class="crop"><img src="assets/images/backgrounds/material-backgrounds/mb-bg-04.jpg" alt="Card Image">

  </div>
  <div layout="row"  ng-if="!vm.editMode">
    <div flex="85">

    </div>
    <md-button ng-click="vm.editMode = true; vm.mode = 'edit'" class="md-fab md-accent" style="margin-top:-37px" >
        <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
        <md-tooltip>Edit {{vm.model.objectType}}</md-tooltip>
    </md-button>

  </div>

    <md-toolbar md-theme="{{triSkin.elements.content}}" ng-if="vm.editMode">
        <div class="md-toolbar-tools">
            <h2>
                <span> {{(vm.mode == "edit")? "Edit":"Add"}} {{vm.model.objectType}}</span>
            </h2>
            <div flex></div>

            <md-button ng-click="vm.editMode = false;" class="md-icon-button" ng-if="vm.editMode" >
                <md-icon md-font-icon="zmdi zmdi-eye"></md-icon>

            </md-button>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-divider ng-if="editMode"></md-divider>

    <md-dialog-content class="md-dialog-content">
        <form name="taskForm" novalidate layout="column" ng-if="vm.editMode">
            <md-input-container ng-repeat = "field in vm.inputs | orderBy: 'editor_index'">
                <label translate>{{field.label}}</label>
                <input
                    dynamic-model="'vm.object.'+field.name"
                    class="dialog-close"
                    name="task" ng-required={{field.required}}
                    ng-maxlength="{{field.maxtrlength}}"/>
                <div ng-messages="taskForm.task.$error">
                    <div ng-message when="required">
                        <span translate>Please enter a {{vm.model.objectType | lowercase}} name</span>
                    </div>
                    <div ng-message when="maxlength">
                        <span translate>The {{vm.model.objectType | lowercase}} name should not be longer than 50 characters</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container ng-repeat = "select in vm.selects">
                 <label>{{select.label}}</label>
                <md-select placeholder="{{vm.object[select.name].display_name|| 'Select '+select.label}}"  dynamic-model="'vm.object.'+select.name" md-on-open="vm.getReferences(select.name)">
                    <md-option ng-repeat = "ref in vm[select.name+'s']" value="{{ref.id}}">{{ref.name || ref.first_name + ' ' + ref.last_name}}</md-option>

                </md-select>
            </md-input-container>


            <md-input-container ng-repeat = "select in vm.predefinedSelects">
               <label>{{select.label}}</label>
              <md-select placeholder="Select {{select.label}}" dynamic-model="'vm.object.'+select.name">
                  <md-option ng-repeat = "ref in select.refs"value="{{ref[0]}}">{{ref[1]}}</md-option>

              </md-select>
            </md-input-container>

            <md-input-container ng-repeat = "select in vm.booleanSelects">
               <label>{{select.label}}</label>
              <md-select placeholder="Select {{select.label}}" dynamic-model="'vm.object.'+select.name">
                  <md-option ng-repeat = "ref in select.refs"value="{{ref.value}}">{{ref.label}}</md-option>

              </md-select>
            </md-input-container>


            <div ng-repeat = "chip in vm.chips" ng-controller = "ChipController as ctrl">
              <md-contact-chips
                  dynamic-model="'vm.object.'+chip.name"
                  md-contacts="ctrl.delayedQuerySearch($query, chip.data_source)"
                  md-contact-name="name"
                  md-contact-image=""
                  md-contact-email=""
                  md-require-match="true"
                  md-highlight-flags="i"
                  filter-selected="ctrl.filterSelected"
                  placeholder="{{chip.label}}">
              </md-contact-chips>
            </div>
            <div ng-repeat = "dateCtrl in vm.dateControls">
              <md-datepicker dynamic-model="'vm.object.'+dateCtrl.name" md-placeholder="{{dateCtrl.label}}"></md-datepicker>
            </div>
        </form>

        <div ng-if = "!vm.editMode" style="margin-top:-30px" layout>
          <div flex>
            <h2>{{vm.object.name}}</h2>
            <div ng-repeat = "field in vm.fields | orderBy: 'detail_index'">
              <span style="font-size:0.8em; color:gray">{{field.label}}</span><br />
              <span ng-if="vm.object[field.name] !== '' && vm.object[field.name] !== null && vm.object[field.name] !== undefined">
                {{
                    (field.type == 'DateTimeField')?
                        (vm.object[field.name] | date: 'MMM dd, yyyy')
                        :((field.type == 'LLForeignKey')?(vm.object[field.name].display_name): (vm.object[field.name]))
                }}
              </span>
            </div>



          </div>

          <div flex style="margin-top:55px">

            <div ng-repeat = "field in vm.arrayFields | orderBy: 'detail_index'" ng-if="vm.arrayFields.length>0">
              <div ng-if = "vm.object[field.name].length > 0">
                <span style="font-size:0.8em; color:gray">{{field.label}}</span><br />
                <span ng-repeat="data in vm.object[field.name]">
                  {{data.display_name}}<br />
                </span>
              </div>

            </div>

            <!--div ng-repeat="set in vm.childSets">
                <h3 ng-if="set.length>0">{{vm.childSetHeadings[$index][0] | uppercase}}{{vm.childSetHeadings[$index].substring(1,vm.childSetHeadings[$index].length)}}</h3>
                  <div ng-repeat="child in set">{{child.name}}</div>


            </div-->


          </div>

        </div>

        <div layout="row" layout-align="center center">
          <md-progress-circular class="md-primary" md-mode="indeterminate" ng-if="!vm.controlsResource.then()"></md-progress-circular>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row" >
        <span flex></span>
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="taskForm.$invalid" ng-if = "vm.editMode">Save</md-button>
    </md-dialog-actions>
</md-dialog>
