<md-dialog aria-label="Add User Dialog" flex="50" flex-xs="100" class="tri-wizard-dialog" md-whiteframe-z1 margin-bottom-100 tri-wizard>
    <md-toolbar md-theme="{{triSkin.elements.content}}">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
          <h2>{{(vm.mode == "edit" || vm.mode == "view")? vm.object.display_name:"Add " + vm.model.objectType}}</h2><div flex></div><h2> <span translate></span></h2>
          <div flex></div>
          <md-button ng-click="vm.editMode = true; vm.mode = 'edit'" class="md-icon-button" ng-if="!vm.editMode" >
              <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>

          </md-button>
          <md-button ng-click="vm.editMode = false;" class="md-icon-button" ng-if="vm.editMode" >
              <md-icon md-font-icon="zmdi zmdi-eye"></md-icon>

          </md-button>
          <md-button class="md-icon-button" ng-click="vm.cancel()">
              <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
          </md-button>
      </div>

      <md-progress-linear ng-if="vm.mode == 'edit' || vm.mode == 'add'" class="md-primary padding-bottom-5" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="md-dialog-content">
      <md-tabs class="user-wizard-tabs" layout-fill md-selected="triWizard.currentStep" md-dynamic-height>
          <md-tab id="{{tab.replace(' ','').toLowerCase();}}" ng-repeat="tab in vm.tabs">
              <md-tab-label>
                  <span class="lima-wizard-badge">{{$index+1}}</span>
                  <span translate>{{tab}}</span>
              </md-tab-label>
              <md-tab-body>
                  <md-content class="md-padding">


                      <form name="wizardForm" tri-wizard-form novalidate autocomplete="off" layout="column" ng-if = "vm.editMode">
                          <md-input-container ng-repeat = "field in vm.inputs | filter: tab | orderBy: 'editor_index'">
                              <label translate>{{field.label}}</label>
                              <input
                                  dynamic-model="'vm.object.'+field.name"
                                  class="dialog-close"
                                  name="task" ng-required={{field.required}}
                                  ng-maxlength="{{field.maxtrlength}}"/>

                              <div ng-messages="wizardForm.task.$error">
                                  <div ng-message when="required">
                                      <span translate>Please enter a {{vm.model.objectType | lowercase}} name</span>
                                  </div>
                                  <div ng-message when="maxlength">
                                      <span translate>The {{vm.model.objectType | lowercase}} name should not be longer than 50 characters</span>
                                  </div>
                              </div>
                          </md-input-container>
                          <md-input-container ng-repeat = "select in vm.selects | filter: tab | orderBy: 'editor_index'">
                               
                               <md-select-header>
                                  <span>{{select.label}}</span>
                                </md-select-header>
                              <md-select value = "{{vm.object[select.name].name}}" placeholder="{{vm.object[select.name].display_name|| vm.object[select.name].name || 'Select '+select.label}}"  dynamic-model="'vm.object.'+select.name" md-on-open="vm.getReferences(select.name)">
                                  <md-option ng-repeat = "ref in vm[select.name+'s']" value="{{ref}}">{{ref.name || ref.first_name + ' ' + ref.last_name}}</md-option>

                              </md-select>
                          </md-input-container>


                          <md-input-container ng-repeat = "select in vm.predefinedSelects | filter: tab | orderBy: 'editor_index'">
                             <label>{{select.label}}</label>
                            <md-select placeholder="Select {{select.label}}" dynamic-model="'vm.object.'+select.name">
                                <md-option ng-repeat = "ref in select.refs"value="{{ref[0]}}">{{ref[1]}}</md-option>

                            </md-select>
                          </md-input-container>

                          <md-input-container ng-repeat = "select in vm.booleanSelects | filter: tab | orderBy: 'editor_index'">
                             <label>{{select.label}}</label>
                            <md-select placeholder="Select {{select.label}}" dynamic-model="'vm.object.'+select.name">
                                <md-option ng-repeat = "ref in select.refs"value="{{ref.value}}">{{ref.label}}</md-option>

                            </md-select>
                          </md-input-container>


                          <div ng-repeat = "chip in vm.chips | filter: tab | orderBy: 'editor_index'" ng-controller = "ChipController as ctrl">
                            <md-contact-chips
                                dynamic-model="'vm.object.'+chip.name"
                                md-contacts="ctrl.delayedQuerySearch($query, chip.data_source)"
                                md-contact-name="name"
                                md-contact-image=""
                                md-contact-email=""
                                md-require-match="true"
                                md-highlight-flags="i"
                                filter-selected="ctrl.filterSelected"
                                placeholder="{{chip.label}}">
                            </md-contact-chips>
                          </div>
                          <div ng-repeat = "dateCtrl in vm.dateControls | filter: tab | orderBy: 'editor_index'">
                            <md-datepicker dynamic-model="'vm.object.'+dateCtrl.name" md-placeholder="{{dateCtrl.label}}"></md-datepicker>
                          </div>
                      </form>


                      <div ng-if = "!vm.editMode" layout>
                        <div flex>

                          <div ng-repeat = "field in vm.fields | filter: tab | orderBy: 'detail_index'">
                            <span style="font-size:0.8em; color:gray">{{field.label}}</span><br />
                            <span ng-if="vm.object[field.name] !== '' && vm.object[field.name] !== null && vm.object[field.name] !== undefined">
                              {{
                                  (field.type == 'DateTimeField')?
                                      (vm.object[field.name] | date: 'MMM dd, yyyy')
                                      :((field.type == 'LLForeignKey')?(vm.object[field.name].display_name || vm.object[field.name].name): (vm.object[field.name]))
                              }}
                            </span>
                          </div>



                        </div>

                        <div flex style="margin-top:55px">

                          <div ng-repeat = "field in vm.arrayFields | filter: tab | orderBy: 'detail_index'" ng-if="vm.arrayFields.length>0">
                            <div ng-if = "vm.object[field.name].length > 0">
                              <span style="font-size:0.8em; color:gray">{{field.label}}</span><br />
                              <span ng-repeat="data in vm.object[field.name]">
                                {{data.display_name}}<br />
                              </span>
                            </div>

                          </div>

                          <!--div ng-repeat="set in vm.childSets">
                              <h3 ng-if="set.length>0">{{vm.childSetHeadings[$index][0] | uppercase}}{{vm.childSetHeadings[$index].substring(1,vm.childSetHeadings[$index].length)}}</h3>
                                <div ng-repeat="child in set">{{child.name}}</div>


                          </div-->


                        </div>

                      </div>
                  </md-content>
              </md-tab-body>
          </md-tab>








      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()">Close</md-button>
        <md-button ng-if="vm.editMode" class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep == 0 " ng-disabled="triWizard.prevStepDisabled()" translate="Previous"></md-button>
        <md-button ng-if="vm.editMode" class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.currentStep ==2" ng-disabled="triWizard.nextStepDisabled()" translate="Next"></md-button>
        <md-button ng-if="vm.editMode" class="md-accent md-raised" ng-click="triWizard.currentStep = 4; vm.hide()"  ng-show="triWizard.currentStep > 1" translate="Save"></md-button>
    </md-dialog-actions>
</md-dialog>
