<div ng-if="vm.chartsModel.length > 0" style="height:400px" layout="row">

  <div class="md-whiteframe-1dp" flex layout="column" ng-repeat="chart in vm.chartsModel">
      <tri-widget title="{{vm.chartOptions[$index].title}}"  md-theme="{{::triSkin.elements.logo}}" class="padding-left-40 padding-right-40 padding-top-20 padding-bottom-20 no-shadow">
          <div style="margin-left:15px; color:gray">
            {{vm.chartOptions[$index].params.start_date | amDateFormat:'MMMM Do YYYY'}} - {{vm.chartOptions[$index].params.end_date | amDateFormat:'MMMM Do YYYY'}}

          </div>
          <nvd3 options="vm.chartOptions[$index]" data="vm.chartData[$index]" class="with-3d-shadow with-transitions"></nvd3>
          <md-button ng-click="vm.changeParams($event, $index)" class="md-fab md-accent md-fab-top-right" aria-label="change date">
              <md-icon md-font-icon="zmdi zmdi-calendar-alt"></md-icon>
          </md-button>

      </tri-widget>
  </div>

  <!--div class="md-whiteframe-1dp" flex layout="column">
      <tri-widget title="Market Agent Performance"  md-theme="{{::triSkin.elements.logo}}" class="padding-left-40 padding-right-40 padding-top-20 padding-bottom-20 no-shadow">
          <div style="margin-left:15px; color:gray">
            {{vm.dateRange.start | amDateFormat:'MMMM Do YYYY'}} - {{vm.dateRange.end | amDateFormat:'MMMM Do YYYY'}}
          </div>
          <nvd3 options="vm.chartOptions" data="vm.chartData" class="with-3d-shadow with-transitions"></nvd3>
          <md-button ng-click="vm.changeParams($event)" class="md-fab md-accent md-fab-top-right" aria-label="change date">
              <md-icon md-font-icon="zmdi zmdi-calendar-alt"></md-icon>
          </md-button>
      </tri-widget>
  </div-->





</div>
