<div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-if="!vm.hideMenuButton()" ng-click="vm.openSideNav('left')" aria-label="side navigation">
        <md-icon md-font-icon="zmdi zmdi-menu"></md-icon>
    </md-button>

    <h2 hide-xs flex>
        <span ng-repeat="crumb in vm.breadcrumbs.crumbs">
            <span translate>{{crumb.name}}</span>
            <md-icon md-font-icon="zmdi zmdi-chevron-right" ng-if="!$last"></md-icon>
        </span>
    </h2>

    <md-button class="md-icon-button toolbar-button" ng-click="vm.toggleFullScreen()" aria-label="toggle fullscreen">
        <md-icon md-font-icon ng-class="vm.fullScreenIcon"></md-icon>
    </md-button>







    <md-menu>
        <md-button aria-label="Open user menu" ng-click="$mdOpenMenu()" aria-label="side navigation">
            {{vm.currentUser.displayName}}
        </md-button>
        <md-menu-content width="4">
            <!--md-menu-item>
                <md-button ng-click="vm.toggleNotificationsTab(2)" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                    <span translate="Settings"></span>
                </md-button>
            </md-menu-item-->

            <md-menu-item >
                <md-button ng-controller = "LoginController as vm" ng-click="vm.logOut()" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
                    <span translate="Logout"></span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
